body {
	margin: 0;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #3A5159;
}

header {
	background: #3A5159;
	color: #fff;
}

h1, h2 {
	font-family: 'Yellowtail', cursive;
	font-size: 48px;
}

h2, 




footer {
	background: #664D52;
}




