/************* General Styles***********/
body {
	margin: 0;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #3A5159;
}

.content-wrapper {
	width: 80%;
	margin: 0 auto;
}


h1, h2 {
	font-family: 'Yellowtail', cursive;
	font-size: 48px;
}

h2, #about span, #airbnb {
	color: #F22652;
}

a {
	color: inherit;
	text-decoration: none;
}

section span {
	font-weight: bold;
}


/************* Header ***********/

header {
	background: #3A5159;
	color: #fff;
	float: left;
  	width: 100%;
  	position: fixed;
}

header h1 {
	float: left;
}

nav ul {
  list-style: none;
  float: right;
}

nav ul li {
  float: left;
}

/************* About Section ***********/

#about {
	border-bottom: 2px solid #3A5159;
}


/************* Footer ***********/
footer {
	background: #664D52;
}




/************* Media Queries ***********/

@media(min-width: 768px) {
	
	/************* Header ***********/

	header {
		float: left;
	}

	header h1 {
		float: left;
	}

	nav ul {
	  list-style: none;
	  float: right;
	}

	nav ul li {
	  float: left;
	}
	h1 {
			font-size: 54px;
		}
	}
